.container{
    background-color: var(--cor3);
    padding: 10px;
    margin-top: 5%;
}

#alterarBt{
    background: var(--cor1);
    border: none;
}

#alterarBt:hover{
    background: var(--cor5); 
}
