html{
    width: 50%;
    margin-left: 25%;
    background-color: var(--cor5);
}

#background{
    background-color: var(--cor5); 
}
.container{
    background-color: var(--cor3);
    border: 1px solid;
    border-radius: 10px;
    margin-top: 30px;
    padding: 25px;
}

#title{
    font-family: cursive;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 3%;
}




